.phone-page {
	height: 486px;
    width: 320px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
	&.animated-page{
        transition: .5s transform;
    }
    &.animated-page-fast{
        transition: .2s transform;
    } 
}